[submodule "admin/php-hardware-monitoring"]
	path = admin/php-hardware-monitoring
	url = https://github.com/cedricfarinazzo/php-hardware-monitoring.git
[submodule "admin/phpservermon"]
	path = admin/phpservermon
	url = https://github.com/phpservermon/phpservermon.git
